# langchain==0.3.19
# langchain-pinecone==0.2.2
# langchain-community==0.3.18
# langchain-openai==0.3.6
# langchain-text-splitters==0.3.6
# langcodes==3.5.0
# langgraph==0.2.74
# langsmith==0.3.8

pypdf
docx2txt
langchain==0.3.16
langchain-pinecone==0.2.2
langchain-community==0.3.16
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
langcodes==3.5.0
langsmith==0.3.2